.name {
    color: gray;
}
.about1{ 
    padding-left: 80px;
}
.about2{ 
    padding-left: 120px;
    width: 600px;   
}
.info {
    color: gray;
    font-size: small;
}
.container {
    display: flex;
    
    justify-content: flex-start;
}
.container2 {
    margin-top: 90px;
    display: flex;
    justify-content: flex-start;
}
.infos{
    color: gray;
}
.picture1{
    margin-top: 20px;
    padding-left: 150px;
    justify-content: center;
}
.picture2{
    padding-left: 80px;
    justify-content: center;
}
.image-size {
    width: 290px;
    height: 220px;
}
.container2 {
    display: flex;
}
.hi{
    padding-left: 80px;
}
.container3{
    margin-top: 100px;
}
.card-container {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
}

.card {
    height: 200px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    
    background-color: white;
}

.card h2 {
    margin-bottom: 50px ;
    font-size: 1.5rem;
    margin: 0;
}

.card p {
    margin: 10px 0;
    color: gray;
}

.card i{
    margin-bottom: 20px ;
}

.footer{
    margin-top: 60px;
    color: gray;
    padding-left: 80px;
}
